name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_ACCESS_TOKEN}}
        
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Build with Maven
      run: mvn clean package

    - name: Docker Compose Build
      working-directory: ./
      run: docker compose build

    - name: Tag Docker Images
      run: |
        docker tag ${{secrets.DOCKER_USERNAME}}/biblioteca_virtual:latest ${{secrets.DOCKER_USERNAME}}/bibliotecavirtual_app:${{github.RUN_ID}}

    - name: Push Docker Images to Docker Hub
      run: | 
        docker push ${{secrets.DOCKER_USERNAME}}/biblioteca_virtual:latest
        docker push ${{secrets.DOCKER_USERNAME}}/biblioteca_virtual:${{github.RUN_ID}}
      
    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
